* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Auth {
    background-color: #E2EDE5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AuthContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.AuthLogin {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.Auth form {
    display: flex;
    flex-direction: column;
}

.FormGroup {
    margin-bottom: 15px;
}

.FormLabel {
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

.AuthUserName,
.AuthPassword {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 15px;
}

.AuthLoginBtn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.AuthLoginBtn:hover {
    background-color: #218838;
}

.AuthNew{
    position: absolute;
    transform: translateY(10px);
    text-decoration: underline;
    margin-left: 85px;
    cursor: pointer;
}