* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Chat {
    background-color: #E2EDE5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.ChatMessages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
}

.ChatMessage {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ChatMessage strong {
    color: #333;
}

.ChatForm {
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    background-color: #E2EDE5;
}

.ChatForm input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

.ChatForm button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ChatForm button:hover {
    background-color: #218838;
}
